
@{
    ViewBag.Title = "Cartelera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Peliculas</li>
    <li class="breadcrumb-item active">Cartelera</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-video me-1"></i> Lista de peliculas en cartelera
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="abrirModal()">Crear nueva</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Película</th>
                    <th>Descripción</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModalPelicula" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar a cartelera</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class='alert alert-warning'>
                    Seleccione película.
                </h6>
                <table id="tablaPelicula" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Género</th>
                            <th>Fecha ingreso</th>
                            <th>Fecha retiro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Registrar cartelera</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtidpelicula" type="hidden" value="0" />
                <input id="txtpelicula" type="hidden" value="0" />
                <input id="txtdescripcion" type="hidden" value="0" />
                <input id="txtidcartelera" type="hidden" value="0" />
                <input id="txtingreso" type="hidden" value="0" />
                <input id="txtegreso" type="hidden" value="0" />

                <h6 class='alert alert-warning' id="recordatorioFecha">
                </h6>
                <form id="contenedor">

                    <div class="row g-1">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Desde</label>
                                <input class="form-control" type="text" id="txtdesde" name="txtdesde" />
                            </div>

                            <div class="mb-3">
                                <label for="cboactivo" class="form-label">Activo</label>
                                <select id="cboactivo" class="form-select">
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Hasta</label>
                                <input class="form-control" type="text" id="txthasta" name="txthasta" />
                            </div>
                        </div>
                    </div>
                </form>

                <!--Mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $("#txtdesde").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date());
        $("#txthasta").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date(new Date().getTime() + 561600000));
        $("#collapseCine").click();
        document.getElementById("menucartelera").style.fontWeight = "bold";
        document.getElementById("menucartelera").style.color = "#c2c2c2";
        document.getElementById("iconocartelera").style.color = "#c2c2c2";

        var tabladataPelicula;
        var tabladata;
        var filaSeleccionada;
        var funcionseleccionada;
        var carteleraseleccionada;


        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: true,
            "ajax": {
                url: '@Url.Action("ListarCartelera", "Cine")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                {
                    "data": "oPelicula", "render": function (data) {
                        return data.Nombre
                    }
                },
                {
                    "data": "oPelicula", "render": function (data) {
                        return data.Descripcion
                    }
                },
                { "data": "FechaDesde" },
                { "data": "FechaHasta" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Sí</span>'
                        } else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-danger btn-sm btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "50px"
                }

            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }

        });

        tabladataPelicula = $("#tablaPelicula").DataTable({
            responsive: true,
            ordering: true,
            "ajax": {
                url: '@Url.Action("ListarPeliculasActivas", "Cine")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Nombre" },
                {"data":"Descripcion"},
                {
                    "data": "oGenero", "render": function (data) {
                        return data.Descripcion
                    }
                },
                { "data": "FechaIngreso" },
                { "data": "FechaEgreso" },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-agregar"><i class="fas fa-plus"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "70px"
                }

            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }

        });

        function abrirModal() {

            $("#FormModalPelicula").modal("show");
        }


        function abrirModalCarteleraAgregar(json) {
            $("#txtingreso").val(json.FechaIngreso)
            $("#txtegreso").val(json.FechaEgreso)
            $("#recordatorioFecha").html("Recordá que el periodo de cartelera no puede superar las fechas de alquiler de la película ("+json.FechaIngreso +" - "+json.FechaEgreso+").");
            $("#mensajeError").hide();

            $("#txtidcartelera").val(0);
            $("#txtdesde").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date());
            $("#txthasta").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date(new Date().getTime() + 561600000));
            $("#cboactivo").val(1);

            $("#FormModal").modal("show");
        }



        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            carteleraseleccionada = $(this).closest("tr");

            var data = tabladata.row(carteleraseleccionada).data();

            var Cartelera = {

                IdCartelera: data.IdCartelera,
                Activo: 0,
                FechaDesde: data.FechaDesde,
                FechaHasta: data.FechaHasta,
                oPelicula: {
                    IdPelicula: data.oPelicula.IdPelicula,
                    Nombre: data.oPelicula.Nombre,
                    Descripcion: data.oPelicula.Descripcion,
                    FechaIngreso: data.oPelicula.FechaIngreso,
                    FechaEgreso: data.oPelicula.FechaEgreso
                },
            };

            swal({
                title: "Esta Seguro?",
                text: "¿Desea eliminar esta cartelera?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                 jQuery.ajax({
                    url: '@Url.Action("EliminarCartelera", "Cine")',
                    type: "POST",
                     data: JSON.stringify({ id: data.IdCartelera }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            tabladata.row(carteleraseleccionada).data(Cartelera).draw(false);
                        } else {

                            swal("No se pudo eliminar", data.mensaje, "error")
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });

            });

            console.log(data);

        })

        $("#tablaPelicula").on("click", '.btn-agregar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladataPelicula.row(filaSeleccionada).data();

            $("#txtidpelicula").val(data.IdPelicula);
            $("#txtpelicula").val(data.Nombre);
            $("#txtdescripcion").val(data.Descripcion);

            $("#FormModalPelicula").modal("hide");
            abrirModalCarteleraAgregar(data);

        })

        function Guardar() {

            $("#mensajeError").hide();
            
                var Cartelera = {

                    IdCartelera: $("#txtidcartelera").val(),
                    Activo: $("#cboactivo").val() == 1 ? true : false,
                    FechaDesde: $("#txtdesde").val(),
                    FechaHasta: $("#txthasta").val(),
                    
                    oPelicula: {
                        IdPelicula: $("#txtidpelicula").val(),
                        Nombre: $("#txtpelicula").val(),
                        Descripcion: $("#txtdescripcion").val(),
                        FechaIngreso: $("#txtingreso").val(),
                        FechaEgreso: $("#txtegreso").val(),
                    },
                };


                jQuery.ajax({
                    url: '@Url.Action("GuardarCartelera", "Cine")',
                    type: "POST",
                    data: JSON.stringify({ objeto: Cartelera }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        $(".modal-body").LoadingOverlay("hide");

                        //FUNCION NUEVA
                        if (Cartelera.IdCartelera == 0) {

                            if (data.resultado != 0) {

                                Cartelera.IdCartelera = data.resultado;
                                tabladata.row.add(Cartelera).draw(false);
                                $("#FormModal").modal("hide");

                            } else {
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }
                        //FUNCION EDITAR
                        else {

                            if (data.resultado) {

                                tabladata.row(filaSeleccionada).data(Cartelera).draw(false);
                                filaSeleccionada = null;
                                $("#FormModal").modal("hide");
                            } else {
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }
                    },
                    error: function (error) {

                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError").text("Error Ajax");
                        $("#mensajeError").show();
                    },
                    beforeSend: function () {
                        $(".modal-body").LoadingOverlay("show", {
                            imageResizeFactor: 2,
                            text: "Cargando...",
                            size: 14
                        })
                    }
                });
        }

    </script>


}

