@{
    ViewBag.Title = "Tablero";
}

<h1 class="mt-4">Tablero</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Resumen / Tablero</li>
</ol>


<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warningext text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total de clientes</h6>
                        <h5 id="totalcliente">0</h5>
                    </div>
                    <div class="col-sm-3 flex-column justify-content-center">
                        <i class="fas fa-smile fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondaryext text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total de ventas</h6>
                        <h5 id="totalventa">0</h5>
                    </div>
                    <div class="col-sm-3 flex-column justify-content-center">
                        <i class="fas fa-cart-plus fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondaryext text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total de películas</h6>
                        <h5 id="totalpelicula">0</h5>
                    </div>
                    <div class="col-sm-3 flex-column justify-content-center">
                        <i class="fas fa-film fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primaryext text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total de productos</h6>
                        <h5 id="totalproducto">0</h5>
                    </div>
                    <div class="col-sm-3 flex-column justify-content-center">
                        <i class="fas fa-boxes fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Compras y ventas por mes
            </div>
            <div class="card-body"><canvas id="graficacomparativa" width="100%" height="30"></canvas></div>
        </div>
    </div>
</div>




@section scripts{
    
    <script>

        $("#collapseMantenedor").click();
        document.getElementById("menutablero").style.fontWeight = "bold";
        document.getElementById("menutablero").style.color = "#c2c2c2";
        document.getElementById("iconotablero").style.color = "#c2c2c2";

        jQuery.ajax({
            url: '@Url.Action("VistaDashBoard", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var objeto = data.resultado;

                $("#totalcliente").text(objeto.TotalCliente)
                $("#totalventa").text(objeto.TotalVenta)
                $("#totalproducto").text(objeto.TotalProducto)
                $("#totalpelicula").text(objeto.TotalPelicula)

            }
        });



        const etiquetas = ["Agosto", "Septiembre", "Octubre", "Noviembre"];

        let listacompras = [];
        let listaventas = [];

        jQuery.ajax({
            url: '@Url.Action("ObtenerCompras", "Mantenedor")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.lista != null) {

                    $.each(data.lista, function (i, item) {
                        listacompras[i] = item.Precio
                    })

                }

            }
        });

        jQuery.ajax({
            url: '@Url.Action("ObtenerVentas", "Mantenedor")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.lista != null) {

                    $.each(data.lista, function (i, item) {
                        listaventas[i] = item.Precio
                    })

                }

            }
        });

        const datosVentas = {
            label: "Ventas por mes",
            data: listaventas,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
        };

        const datosCompras = {
            label: "Compras por mes",
            data: listacompras,
            backgroundColor: 'rgba(255, 159, 64, 0.2)',
            borderColor: 'rgba(255, 159, 64, 1)',
            borderWidth: 1,
        };


        new Chart(document.querySelector("#graficacomparativa"), {
            type: 'line',
            data: {
                labels: etiquetas,
                datasets: [
                    datosVentas,
                    datosCompras

                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
            }
        });



    </script>
    
    
    
    
    }