
@{
    ViewBag.Title = "Peliculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Peliculas</li>
    <li class="breadcrumb-item active">Listado</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-film me-1"></i> Lista de Peliculas
    </div>

    <div class="card-body">
        <div class="row">

            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="abrirModal(null)">Crear nuevo</button>
            </div>
        </div>

        <hr />
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Genero</th>
                    <th>Duracion</th>
                    <th>Fecha Registro</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Pelicula</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value="0" />

                <form id="contenedor" class="row">

                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="img_producto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProducto" accept="image/png, image/jpg, image/jpeg" onchange="mostrarImagen(this)" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtnombre" name="nombre" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripcion</label>
                            <textarea type="text" class="form-control" id="txtdescripcion" name="descripcion" style="height:125px;resize:none"></textarea>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Duracion</label>
                            <input type="number" class="form-control" id="txtduracion" name="nombre" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Genero</label>
                            <select id="cbogenero" class="form-select">
                                <option value="Terror">Terror</option>
                                <option value="Accion">Accion</option>
                                <option value="Romance">Romance</option>
                                <option value="Infantil">Infantil</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Activo</label>
                            <select id="cboactivo" class="form-select">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    

                </form>

                <!--Mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var tabladata;
        var filaSeleccionada;

        function mostrarImagen(input) {
            if (input.files) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#img_producto").attr("src",e.target.result).width(200).height(197)
                }

                reader.readAsDataURL(input.files[0]);
            }

        }



        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: true,
            "ajax": {
                url: '@Url.Action("ListarPeliculas", "Peliculas")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "IdPelicula" },
                {"data":"Nombre"},
                { "data": "Descripcion" },
                { "data": "Genero" },
                { "data": "Duracion" },
                { "data": "FechaRegistro" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Sí</span>'
                        } else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "70px"
                }

            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }

        });





        function abrirModal(json) {

            $("#txtid").val(0);
            $("#img_producto").removeAttr("src");
            $("#txtnombre").val();
            $("#txtdescripcion").val();
            $("#txtduracion").val();
            $("#cbogenero").val();
            $("#cboactivo").val(1);

            $("#mensajeError").hide();

          if (json != null) {

                $("#txtid").val(json.IdPelicula);
                $("#txtnombre").val(json.Nombre);
                $("#txtdescripcion").val(json.Descripcion);
                $("#txtduracion").val(json.Duracion);
                $("#cbogenero").val(json.Genero);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);



                 jQuery.ajax({
                    url: '@Url.Action("ImagenProducto", "Peliculas")',
                     type: "POST",
                     data: JSON.stringify({ id: json.IdPelicula }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                     success: function (data) {

                         $("#img_producto").LoadingOverlay("hide");

                        if (data.conversion) {
                            $("#img_producto").attr({ "src": "data:image/" + data.extension + ";base64," + data.textobase64 });
                        }

                         $("#img_producto").attr({ "src": data.ruta});

                    },
                    error: function (error) {
                        $("#img_producto").LoadingOverlay("hide");

                        $("#mensajeError").show();
                        $("#mensajeError").text("Error al mostrar imagen");

                    },
                    beforeSend: function () {
                        $("#img_producto").LoadingOverlay("show");
                    },
                });




            }

            $("#FormModal").modal("show");
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data =  tabladata.row(filaSeleccionada).data();

            abrirModal(data)

        })



        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var peliseleccionada = $(this).closest("tr");

            var data = tabladata.row(peliseleccionada).data();


            swal({
                title: "¿Estás seguro?",
                text: "¿Desea eliminar la Pelicula?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                 jQuery.ajax({
                    url: '@Url.Action("EliminarPelicula", "Peliculas")',
                    type: "POST",
                     data: JSON.stringify({ id: data.IdPelicula }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                     success: function (data) {
                         console.log(data)

                        if (data.resultado) {

                            location.reload();
                        } else {

                            swal("No se pudo eliminar", data.mensaje, "error")
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });




            });


            console.log(data);

        })

        function Guardar() {

            if (!$("#contenedor").valid()) {
                return;
            }



            var ImagenSeleccionada = $("#fileProducto")[0].files[0];

            var Pelicula = {
                IdPelicula: $("#txtid").val(),
                Nombre: $("#txtnombre").val(),
                Descripcion: $("#txtdescripcion").val(),
                Duracion: $("#txtduracion").val(),
                Genero: $("#cbogenero").val(),
                Activo: $("#cboactivo").val() == 1 ? true : false,
            }


            var request = new FormData();
            request.append("objeto", JSON.stringify(Pelicula))
            request.append("archivoImagen", ImagenSeleccionada)



           jQuery.ajax({
                url: '@Url.Action("GuardarPelicula", "Peliculas")',
                type: "POST",
               data: request,
               processData: false,
               contentType:false,
               success: function (data) {

                   $(".modal-body").LoadingOverlay("hide");

                    //PRODUCTO NUEVO
                   if (Pelicula.IdPelicula == 0) {

                       if (data.idGenerado != 0) {

                            Pelicula.IdPelicula = data.idPelicula;
                            tabladata.row.add(Pelicula).draw(false);
                            $("#FormModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                    //PRODUCTO EDITAR
                    else {

                       if (data.operacionExitosa) {

                           tabladata.row(filaSeleccionada).data(Pelicula).draw(false);
                            filaSeleccionada = null;
                           $("#FormModal").modal("hide");
                           location.reload();
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                   }
                   //if (Pelicula.IdPelicula == 0) {

                   //    if (data.resultado != 0) {

                   //        Pelicula.IdPelicula = data.resultado;
                   //        tabladata.row.add(Pelicula).draw(false);
                   //        $("#FormModal").modal("hide");

                   //    } else {
                   //        $("#mensajeError").text(data.mensaje);
                   //        $("#mensajeError").show();
                   //    }
                   //}
                   ///*MARCA EDITAR*/
                   //else {

                   //    if (data.resultado) {

                   //        tabladata.row(filaSeleccionada).data(Pelicula).draw(false);
                   //        filaSeleccionada = null;
                   //        $("#FormModal").modal("hide");
                   //    } else {
                   //        $("#mensajeError").text(data.mensaje);
                   //        $("#mensajeError").show();
                   //    }
                   //}
                },
               error: function (error) {

                   $(".modal-body").LoadingOverlay("hide");
                   $("#mensajeError").text("Error Ajax");
                   $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });




        }



    </script>


}



