
@{
    ViewBag.Title = "Butacas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid py-5">
    <div class="container" style=" padding: 40px 60px">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-8 d-flex justify-content-center">
                <h1 class="display-6 fw-bolder m-0 mb-3">Seleccioná tus asientos</h1>
            </div>
            <div class="col-md-8 d-flex justify-content-center" >
                <h6 class=" m-0 mb-1" id="txtsala"></h6>
            </div>
            <div class="col-md-8 d-flex justify-content-center">
                <h5 class="m-0 text-white mT-1 mb-2 d-inline-block">PANTALLA</h5>
                <input id="txtid" type="hidden" value="0" />
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-md-8 d-flex justify-content-center align-baseline" id="contenedor_butacas">
                <h6 class="text-white d-inline-block color-gris m-0 mr-1" style="font-size: 15px; margin-top: 3px !important">A</h6>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="A1" value="A1" onclick="ClickButaca(this)">1</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="A2" value="A2" onclick="ClickButaca(this)">2</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="A3" value="A3" onclick="ClickButaca(this)">3</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="A4" value="A4" onclick="ClickButaca(this)">4</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="A5" value="A5" onclick="ClickButaca(this)">5</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="A6" value="A6" onclick="ClickButaca(this)">6</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="A7" value="A7" onclick="ClickButaca(this)">7</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="A8" value="A8" onclick="ClickButaca(this)">8</button>
                <h6 class="text-white d-inline-block color-gris m-0 ml-1" style="font-size: 15px; margin-top: 3px !important">A</h6>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-md-8 d-flex justify-content-center align-baseline" id="contenedor_butacas">
                <h6 class="text-white d-inline-block color-gris m-0 mr-1" style="font-size: 15px; margin-top: 3px !important">B</h6>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="B1" value="B1" onclick="ClickButaca(this)">1</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="B2" value="B2" onclick="ClickButaca(this)">2</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="B3" value="B3" onclick="ClickButaca(this)">3</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="B4" value="B4" onclick="ClickButaca(this)">4</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="B5" value="B5" onclick="ClickButaca(this)">5</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="B6" value="B6" onclick="ClickButaca(this)">6</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="B7" value="B7" onclick="ClickButaca(this)">7</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="B8" value="B8" onclick="ClickButaca(this)">8</button>
                <h6 class="text-white d-inline-block color-gris m-0 ml-1" style="font-size: 15px; margin-top: 3px !important">B</h6>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-md-8 d-flex justify-content-center align-baseline" id="contenedor_butacas">
                <h6 class="text-white d-inline-block color-gris m-0 mr-1" style="font-size: 15px; margin-top: 3px !important">C</h6>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="C1" value="C1" onclick="ClickButaca(this)">1</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="C2" value="C2" onclick="ClickButaca(this)">2</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="C3" value="C3" onclick="ClickButaca(this)">3</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="C4" value="C4" onclick="ClickButaca(this)">4</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="C5" value="C5" onclick="ClickButaca(this)">5</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="C6" value="C6" onclick="ClickButaca(this)">6</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="C7" value="C7" onclick="ClickButaca(this)">7</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="C8" value="C8" onclick="ClickButaca(this)">8</button>
                <h6 class="text-white d-inline-block color-gris m-0 ml-1" style="font-size: 15px; margin-top: 3px !important">C</h6>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-md-8 d-flex justify-content-center align-baseline" id="contenedor_butacas">
                <h6 class="text-white d-inline-block color-gris m-0 mr-1" style="font-size: 15px; margin-top: 3px !important">D</h6>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="D1" value="D1" onclick="ClickButaca(this)">1</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="D2" value="D2" onclick="ClickButaca(this)">2</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="D3" value="D3" onclick="ClickButaca(this)">3</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="D4" value="D4" onclick="ClickButaca(this)">4</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="D5" value="D5" onclick="ClickButaca(this)">5</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="D6" value="D6" onclick="ClickButaca(this)">6</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="D7" value="D7" onclick="ClickButaca(this)">7</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="D8" value="D8" onclick="ClickButaca(this)">8</button>
                <h6 class="text-white d-inline-block color-gris m-0 ml-1" style="font-size: 15px; margin-top: 3px !important">D</h6>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-md-8 d-flex justify-content-center align-baseline" id="contenedor_butacas">
                <h6 class="text-white d-inline-block color-gris m-0 mr-1" style="font-size: 15px; margin-top: 3px !important">E</h6>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="E1" value="E1" onclick="ClickButaca(this)">1</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="E2" value="E2" onclick="ClickButaca(this)">2</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="E3" value="E3" onclick="ClickButaca(this)">3</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="E4" value="E4" onclick="ClickButaca(this)">4</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="E5" value="E5" onclick="ClickButaca(this)">5</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="E6" value="E6" onclick="ClickButaca(this)">6</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="E7" value="E7" onclick="ClickButaca(this)">7</button>
                <button type="button" class="btn btn-butaca" autocomplete="off" id="E8" value="E8" onclick="ClickButaca(this)">8</button>
                <h6 class="text-white d-inline-block color-gris m-0 ml-1" style="font-size: 15px; margin-top: 3px !important">E</h6>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 d-flex justify-content-center">
                <button class="btn btn-primary w-50 mt-3" style="padding: 3px 3px 5px 3px" type="button" id="btnpagar"
                        data-bs-toggle="collapse" onclick="Comprar()" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-arrow-alt-circle-right"></i> Ir a pagar
                </button>
            </div>
        </div>
        <div id="divv"></div>
    </div>
</section>

<script>
    document.getElementById('btnpagar').disabled = true;

    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var IdFuncionURL = urlParams.get('IdFuncion');
    var CantidadURL = urlParams.get('Cantidad');
    var Sala = urlParams.get('Sala');

    document.getElementById('txtsala').innerHTML = Sala;

    var cont = 0;
    function ClickButaca(btn) {
        document.getElementById('btnpagar').disabled = true;
        cont++
        $(btn).addClass('disabled seleccionado')
        if (cont > parseInt(CantidadURL)) {
            $(".seleccionado").removeClass('disabled seleccionado')
            $(btn).addClass('disabled seleccionado')
            cont = 1
        }

        if (cont == parseInt(CantidadURL)) {
            document.getElementById('btnpagar').disabled = false;
        }
        else {
            document.getElementById('btnpagar').disabled = true;
        }
    }

    jQuery.ajax({
        url: '@Url.Action("ObtenerButacasOcupadas", "Tienda")',
        type: "POST",
        data: JSON.stringify({ IdFuncion: IdFuncionURL }),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {

            if (data.lista != null) {

                $.each(data.lista, function (i, item) {
                    $("#" + item).addClass('disabled ocupado')

                })
                ListarIdioma();
            }
        }
    })

    function Comprar() {
        var butacas = document.getElementsByClassName("seleccionado");
        var lista = [];

        

        for (var i = 0, len = butacas.length; i < len; i++) {
            lista.push({
                Fila: $(butacas[i]).val().charAt(0),
                Numero: parseInt($(butacas[i]).val().charAt(1)) 
            })
        }

        /*$("#txtid").val(lista[0].Columna)*/

        jQuery.ajax({
            url: '@Url.Action("EnviarPago", "Tienda")',
            type: "POST",
            data: JSON.stringify({ IdFuncion: IdFuncionURL, Butacas: lista }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.Status) {
                    window.location.href = data.Link;
                } else {

                    swal("", "Volvé a intentarlo más tarde", "warning");
                }
            },
        })
    }

</script>

